<!DOCTYPE html>
<html>
  <head>
    <title> Santhi shopping</title>
  </head>
<body>
  <center><h1>ONE PLATFORM FOR GROCERIES</h1></center>
  <center><img src="https://santhi-shopping-website--santhisridhar.repl.co/static/grocery_image1.jpg" width="250" height="120">  <img src="https://santhi-shopping-website--santhisridhar.repl.co/static/grocery_image2.jpg" width="250" height="120"> 
  <p>A platform where you can find the list of all shops according to your requirement</p> </center> 
</body>
</html>